HAHA/HAHA/Web References/haha/Test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_HamLayID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_HamLayIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_HamLayIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_HamLayIDSoapIn">
    <wsdl:part name="parameters" element="tns:_HamLayID" />
  </wsdl:message>
  <wsdl:message name="_HamLayIDSoapOut">
    <wsdl:part name="parameters" element="tns:_HamLayIDResponse" />
  </wsdl:message>
  <wsdl:message name="_HamLayIDHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_HamLayIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="_HamLayIDHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_HamLayIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="TestSoap">
    <wsdl:operation name="_HamLayID">
      <wsdl:input message="tns:_HamLayIDSoapIn" />
      <wsdl:output message="tns:_HamLayIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestHttpGet">
    <wsdl:operation name="_HamLayID">
      <wsdl:input message="tns:_HamLayIDHttpGetIn" />
      <wsdl:output message="tns:_HamLayIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestHttpPost">
    <wsdl:operation name="_HamLayID">
      <wsdl:input message="tns:_HamLayIDHttpPostIn" />
      <wsdl:output message="tns:_HamLayIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSoap" type="tns:TestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_HamLayID">
      <soap:operation soapAction="http://tempuri.org/_HamLayID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestSoap12" type="tns:TestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_HamLayID">
      <soap12:operation soapAction="http://tempuri.org/_HamLayID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestHttpGet" type="tns:TestHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="_HamLayID">
      <http:operation location="/_HamLayID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestHttpPost" type="tns:TestHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="_HamLayID">
      <http:operation location="/_HamLayID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Test">
    <wsdl:port name="TestSoap" binding="tns:TestSoap">
      <soap:address location="http://buudienhanoi.com.vn/dinhvi/Test.asmx" />
    </wsdl:port>
    <wsdl:port name="TestSoap12" binding="tns:TestSoap12">
      <soap12:address location="http://buudienhanoi.com.vn/dinhvi/Test.asmx" />
    </wsdl:port>
    <wsdl:port name="TestHttpGet" binding="tns:TestHttpGet">
      <http:address location="http://buudienhanoi.com.vn/dinhvi/Test.asmx" />
    </wsdl:port>
    <wsdl:port name="TestHttpPost" binding="tns:TestHttpPost">
      <http:address location="http://buudienhanoi.com.vn/dinhvi/Test.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>